node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.*
!.env.example

# tshy
.tshy
dist/
.tshy/
.tshy-build/
**/src/package.json

# CI
.pnpm-store

# Playwright
test-results
playwright-report
blob-report
playwright/.cache

# NextJS
.next
